In [1]:
import pandas as pd
import scipy 
import numpy as np

Either numpy or scipy svd

In [2]:
from numpy.linalg import svd as svd

In [3]:
from scipy.linalg import svd as svd

In [4]:
def df(a): return pd.DataFrame(np.round(a, 2))

## `m > n`

In [5]:
m, n = 10, 5

In [6]:
a = np.random.randn(m, n) + 1j*np.random.randn(m, n)
df(a)

               0              1              2              3              4
0  (-1.54-0.83j)  (-0.31+0.12j)   (1.03+0.35j)  (-1.36+0.34j)  (-0.47+0.92j)
1   (-1.9+0.69j)   (0.99+0.82j)   (1.36+0.89j)  (-0.49+0.91j)   (-0.1-2.94j)
2  (-0.63+1.57j)    (0.83+1.8j)   (0.74-0.87j)   (-0.34+0.2j)  (-0.42-1.59j)
3   (0.33+0.01j)   (1.51+0.43j)  (-1.04-2.25j)  (-0.97+1.15j)   (0.62-0.45j)
4   (1.62+0.25j)  (-0.47+0.69j)   (0.98-1.74j)   (1.11-0.48j)   (0.53+0.75j)
5  (-0.15+1.18j)   (1.81-1.32j)   (-2.9-1.71j)  (-0.93+2.66j)  (-0.58+0.04j)
6   (-0.5+1.77j)   (0.31-0.26j)    (-0.5-0.3j)   (0.58-0.24j)   (2.18+0.53j)
7  (-0.75-0.78j)  (-0.16-0.46j)   (1.06-1.24j)   (0.32-1.69j)  (-2.11-0.62j)
8   (-0.3+0.13j)   (0.86-1.25j)  (-0.99+0.71j)   (1.01+0.65j)   (-1.14-1.7j)
9   (1.17+0.16j)  (-1.21+1.27j)  (-0.61-1.82j)  (-1.11+0.72j)    (0.85+0.1j)

#### `full_matrices=True`

In [7]:
u, s, vh = svd(a, full_matrices=True)

In [8]:
a.shape, u.shape, s.shape, vh.shape

((10, 5), (10, 10), (5,), (5, 5))

In [9]:
df(u)

,0,1,2,3,4,5,6,7,8,9
0,(-0.17-0.08j),(-0.02+0.03j),(0.44+0.13j),(0.18-0.13j),(-0.14+0.21j),(0.04-0.39j),(0.11-0.35j),(-0.32+0.01j),(0.06+0.02j),(0.21-0.44j)
1,(-0.12+0.07j),(-0.66-0j),(0.14-0.16j),(0.09+0.05j),(0.03+0.02j),(-0.26-0.21j),(-0.04+0.22j),(0.19-0.3j),(-0.21-0.33j),(0.19+0.05j)
2,(-0.22+0.19j),(-0.31+0.11j),(-0.11-0.19j),(0.06-0.01j),(0.2-0.52j),(0.42-0.27j),(-0.07-0.08j),(-0.29+0.21j),(0.06+0.16j),(-0.04+0.15j)
3,(-0.07+0.44j),(0.04-0.06j),(-0.1+0.08j),(-0.04-0.09j),(-0.07+0.23j),(-0.12-0.01j),(0.14-0.52j),(-0.2-0.16j),(-0.07-0.2j),(-0.08+0.54j)
4,(-0.15-0.02j),(0.25+0.06j),(-0.45-0.17j),(-0.12-0.31j),(0.11+0.13j),(0.23-0.19j),(-0.32+0.01j),(0.03-0.44j),(0.15-0.23j),(0.21-0.19j)
5,(0.27+0.6j),(0.1+0.12j),(0.24-0.01j),(0.09+0.13j),(0.05+0.2j),(0.49-0.04j),(0.06+0.21j),(0.19-0.02j),(-0.09-0.16j),(-0.14-0.19j)
6,0.09j,(0.11-0.16j),(0.03-0.44j),(-0.57+0.28j),(-0.03-0.13j),(-0.02-0.01j),(0.4-0.13j),(0.04+0.06j),-0.07j,(0.35-0.15j)
7,(-0.14-0.12j),(-0.1+0.36j),(-0.1+0.37j),(-0.29+0.08j),(0.46+0.18j),(0.03-0.23j),(0.13-0.22j),(0.43+0.14j),(-0.09+0.1j),(-0.03+0.01j)
8,(0.31+0.07j),(-0.29+0.13j),(-0.02+0.08j),(-0.1+0.09j),(0.2+0.1j),(-0.13+0.08j),(0.1+0.04j),(-0.21-0.14j),(0.79-0.01j),(-0.04-0.05j)
9,(-0.17+0.2j),(0.24-0.16j),(-0.2-0.06j),(0.52+0.04j),(0.42+0.08j),(-0.24-0.05j),(0.28+0.18j),(0.03+0.25j),(0.1-0.03j),(0.32-0j)

In [10]:
df(vh)

            0              1              2              3              4
0   (0.21+0j)   (0.09-0.46j)  (-0.54+0.42j)   (0.41+0.26j)  (-0.14-0.05j)
1   (0.33+0j)  (-0.28-0.12j)  (-0.25-0.32j)   (-0.05-0.1j)   (0.11+0.78j)
2  (-0.74+0j)  (-0.02-0.14j)  (-0.08+0.28j)  (-0.33+0.27j)  (-0.08+0.39j)
3   (0.41+0j)  (-0.44+0.22j)   (0.04+0.22j)  (-0.46+0.48j)   (-0.3-0.11j)
4  (-0.37+0j)  (-0.63+0.16j)  (-0.32-0.36j)   (0.35+0.04j)  (-0.16-0.25j)

In [11]:
S = np.zeros((m, n), dtype=complex)
min_mn = min(m, n)
S[:min_mn, :min_mn] = np.diag(s)
S.shape

(10, 5)

In [12]:
df(S)

           0          1         2          3          4
0  (7.37+0j)         0j        0j         0j         0j
1         0j  (6.06+0j)        0j         0j         0j
2         0j         0j  (4.7+0j)         0j         0j
3         0j         0j        0j  (2.76+0j)         0j
4         0j         0j        0j         0j  (2.07+0j)
5         0j         0j        0j         0j         0j
6         0j         0j        0j         0j         0j
7         0j         0j        0j         0j         0j
8         0j         0j        0j         0j         0j
9         0j         0j        0j         0j         0j

In [13]:
np.allclose(a, u @ S @ vh )

True

In [14]:
df(u[:, :n])

               0              1              2              3              4
0  (-0.17-0.08j)  (-0.02+0.03j)   (0.44+0.13j)   (0.18-0.13j)  (-0.14+0.21j)
1  (-0.12+0.07j)     (-0.66-0j)   (0.14-0.16j)   (0.09+0.05j)   (0.03+0.02j)
2  (-0.22+0.19j)  (-0.31+0.11j)  (-0.11-0.19j)   (0.06-0.01j)    (0.2-0.52j)
3  (-0.07+0.44j)   (0.04-0.06j)   (-0.1+0.08j)  (-0.04-0.09j)  (-0.07+0.23j)
4  (-0.15-0.02j)   (0.25+0.06j)  (-0.45-0.17j)  (-0.12-0.31j)   (0.11+0.13j)
5    (0.27+0.6j)    (0.1+0.12j)   (0.24-0.01j)   (0.09+0.13j)    (0.05+0.2j)
6          0.09j   (0.11-0.16j)   (0.03-0.44j)  (-0.57+0.28j)  (-0.03-0.13j)
7  (-0.14-0.12j)   (-0.1+0.36j)   (-0.1+0.37j)  (-0.29+0.08j)   (0.46+0.18j)
8   (0.31+0.07j)  (-0.29+0.13j)  (-0.02+0.08j)   (-0.1+0.09j)     (0.2+0.1j)
9   (-0.17+0.2j)   (0.24-0.16j)   (-0.2-0.06j)   (0.52+0.04j)   (0.42+0.08j)

#### without making s into matrix

In [15]:
np.allclose(a, u[:, :n] * s @ vh)

True

#### `full_matrices=False`

In [16]:
u, s, vh = svd(a, full_matrices=False)

a.shape, u.shape, s.shape, vh.shape

((10, 5), (10, 5), (5,), (5, 5))

In [17]:
S = np.diag(s)
df(S)

      0     1    2     3     4
0  7.37  0.00  0.0  0.00  0.00
1  0.00  6.06  0.0  0.00  0.00
2  0.00  0.00  4.7  0.00  0.00
3  0.00  0.00  0.0  2.76  0.00
4  0.00  0.00  0.0  0.00  2.07

In [18]:
np.allclose(a, u @ S @ vh)

True

#### without making s into matrix

In [19]:
np.allclose(a, u * s @ vh)

True

## `m<n`

In [20]:
m, n = 5, 10

In [21]:
a = np.random.randn(m, n) + 1j*np.random.randn(m, n)
df(a)

,0,1,2,3,4,5,6,7,8,9
0,(-0.23-1.7j),(-0-0.02j),(-0.62-1.29j),(0.88+0.24j),(-0.2-0.18j),(-0.59+0j),(0.32-0.65j),(0.65-1.29j),(-0.02+1.25j),(-1.37-0.46j)
1,(-0.03-0.14j),(0.56-0.04j),(0.04-0.29j),(-1.1+1.42j),(2.03-0.21j),(0.04+0.4j),(-0.05+0.17j),(-0.58+1.33j),(1.13+0.92j),(-0.99+0.34j)
2,(-0.63+0.94j),(1.08-0.12j),(-0.84+1.1j),(-1.86-0.11j),(2.18-0.19j),(0.57+0.04j),(-0.07-0.24j),(0.22-1.38j),(1.02-0.31j),(0.54+0.47j)
3,(0.59+1.78j),(1.09+1.06j),(0.53+1.81j),(-0.9-0.58j),(-1.37+1.25j),(-0.91-1.23j),(1.34-0.43j),(-1.19+0.38j),(1.91+0.87j),(1.67+0.2j)
4,(0.67-0.84j),(0.78+0.12j),(-0.02+0.07j),(-0.26-1.58j),(-1.55-1.56j),(0.31+0.41j),(0.41-0.29j),(1.53+1.69j),(-0.35-0.76j),(-1.17+0.34j)

#### `full_matrices=True`

In [22]:
u, s, vh = svd(a, full_matrices=True)

In [23]:
a.shape, u.shape, s.shape, vh.shape

((5, 10), (5, 5), (5,), (10, 10))

In [24]:
df(u)

               0              1              2              3             4
0     (-0.37+0j)      (0.29+0j)     (-0.25+0j)      (0.63+0j)     (0.56+0j)
1   (0.19-0.17j)    (0.25-0.4j)  (-0.08+0.37j)    (0.31+0.5j)  (-0.37-0.3j)
2    (0.32+0.2j)   (0.24-0.43j)   (0.53+0.09j)  (-0.13+0.09j)  (0.47+0.29j)
3   (0.64+0.36j)  (-0.28+0.41j)  (-0.08+0.15j)   (0.41+0.05j)  (0.07+0.04j)
4  (-0.29-0.16j)  (-0.31+0.33j)   (0.38+0.58j)  (-0.12+0.23j)  (0.27-0.27j)

In [25]:
df(vh)

,0,1,2,3,4,5,6,7,8,9
0,(0.17+0.39j),(0.21+0.04j),(0.2+0.32j),(-0.31+0.12j),(0.24+0.23j),(-0.14-0.09j),(0.07-0.07j),(-0.35+0.1j),(0.35-0.06j),(0.33-0.11j)
1,(-0.1-0.27j),(0.08-0.08j),(-0.02-0.26j),(-0.29+0.05j),(0.42+0.59j),(-0.09+0.18j),(-0.14-0.15j),(0.15-0.24j),(-0.01+0.15j),(-0.16-0.12j)
2,(-0.07+0.02j),(0.24-0.26j),(-0.01+0.21j),(-0.42+0.02j),(-0.06-0.16j),(0.22+0.03j),(-0.07-0.12j),(0.53-0.1j),(0.04-0.39j),(0.13+0.31j)
3,(-0-0.18j),(0.16-0.07j),-0.1j,(0.16+0.5j),(-0.21-0.09j),(-0.22-0.2j),(0.25-0.22j),(0.17-0.11j),(0.48+0.32j),(-0.04+0.16j)
4,(0.19-0.1j),(0.26+0.03j),(-0.12+0.13j),(-0.07-0.33j),(0.05-0.38j),(-0.15-0.06j),(0.14-0.27j),(-0.1-0.52j),(-0.01-0.03j),(-0.17-0.4j)
5,(-0.01-0.23j),(0.19-0j),(0.25+0.17j),(0.26-0.02j),(0.01+0.15j),(0.8-0.05j),(0.05-0.15j),(-0.12-0.03j),(0.13+0.07j),(-0.03-0.13j)
6,(-0.28+0.03j),(-0.24-0.29j),(0.21-0.04j),(-0.06-0.09j),(0.1+0.03j),(-0.02+0.15j),(0.8-0.02j),(-0.1-0.02j),(-0.05-0.15j),(-0.1+0.05j)
7,(-0.35+0.19j),(-0.1+0.21j),(0.54+0.4j),(0.13+0.01j),(0.08-0.08j),(-0.2+0.1j),(-0.19-0.05j),(0.31-0.06j),(-0+0.15j),(-0.28-0.11j)
8,(0.09-0.25j),(-0.61+0.22j),(0.08-0.06j),(-0.34-0.07j),(-0.1-0.1j),(0.12+0j),(-0.07+0.15j),(0.05-0.1j),(0.5-0.11j),(0.04-0.19j)
9,(-0.45-0.29j),(0.23+0.09j),(0.2-0.24j),(-0.11-0.09j),(-0.02-0.29j),(-0.08+0.17j),(-0.06-0.04j),(-0.11+0.11j),(-0.05+0.14j),(0.58-0.13j)

In [26]:
S = np.zeros((m, n), dtype=complex)
min_mn = min(m, n)
S[:min_mn, :min_mn] = np.diag(s)
S.shape

(5, 10)

In [27]:
df(S)

        0         1          2          3          4   5   6   7   8   9
0  (6+0j)        0j         0j         0j         0j  0j  0j  0j  0j  0j
1      0j  (4.8+0j)         0j         0j         0j  0j  0j  0j  0j  0j
2      0j        0j  (3.89+0j)         0j         0j  0j  0j  0j  0j  0j
3      0j        0j         0j  (2.74+0j)         0j  0j  0j  0j  0j  0j
4      0j        0j         0j         0j  (2.21+0j)  0j  0j  0j  0j  0j

In [28]:
np.allclose(a, u @ S @ vh )

True

In [29]:
df(u * s)

               0              1              2              3              4
0     (-2.25+0j)      (1.38+0j)     (-0.99+0j)      (1.72+0j)      (1.25+0j)
1   (1.17-0.99j)   (1.18-1.93j)  (-0.29+1.44j)   (0.84+1.37j)  (-0.82-0.65j)
2    (1.9+1.21j)   (1.14-2.07j)   (2.05+0.35j)  (-0.35+0.25j)   (1.04+0.65j)
3   (3.87+2.15j)  (-1.34+1.98j)  (-0.33+0.56j)   (1.13+0.13j)   (0.16+0.09j)
4  (-1.74-0.95j)  (-1.48+1.58j)   (1.49+2.24j)  (-0.33+0.62j)    (0.6-0.59j)

#### without making s into matrix

In [30]:
np.allclose(a, u * s @ vh[:m, :])

True

#### `full_matrices=False`

In [31]:
u, s, vh = svd(a, full_matrices=False)

a.shape, u.shape, s.shape, vh.shape

((5, 10), (5, 5), (5,), (5, 10))

In [32]:
S = np.diag(s)
df(S)

     0    1     2     3     4
0  6.0  0.0  0.00  0.00  0.00
1  0.0  4.8  0.00  0.00  0.00
2  0.0  0.0  3.89  0.00  0.00
3  0.0  0.0  0.00  2.74  0.00
4  0.0  0.0  0.00  0.00  2.21

In [33]:
np.allclose(a, u @ S @ vh)

True

#### without making s into matrix

In [34]:
np.allclose(a, u * s @ vh)

True