In [81]:
import pandas as pd
import scipy 
import numpy as np

In [82]:
def df(a): return pd.DataFrame(np.round(a, 2))
m, n = 10, 6
X = np.random.randn(m, n)
df(X)

      0     1     2     3     4     5
0  1.39  0.49  2.16 -0.51 -1.32 -0.11
1 -0.84  0.45 -0.75 -0.85  1.01 -0.51
2  0.22 -1.33  0.46  1.36 -0.10  0.61
3  0.47 -1.53 -0.29  0.26 -0.44 -0.13
4 -0.06  0.94 -0.91  0.75  0.55  0.17
5 -0.98  1.12 -0.38 -0.14  0.65  0.25
6  0.17  0.06 -1.06  0.96  0.44  1.11
7  1.47 -1.61  1.08 -1.25 -0.50  0.25
8  0.41  2.12 -1.28  0.06  1.97 -0.06
9  0.25 -1.20 -2.06 -0.05 -2.54 -0.51

In [83]:
from scipy.linalg import svd as svd

### `full_matrices=True`

In [84]:
U, s, Vh = svd(X, full_matrices=True)

In [85]:
a.shape, U.shape, s.shape, Vh.shape

((10, 6), (10, 10), (6,), (6, 6))

In [86]:
S = np.zeros((m, n))
S[:n, :n] = np.diag(s)
S.shape

(10, 6)

In [87]:
df(U)

      0     1     2     3     4     5     6     7     8     9
0 -0.33  0.52  0.21  0.58  0.06 -0.01  0.30 -0.25 -0.05  0.28
1  0.25 -0.04  0.30 -0.48 -0.08 -0.05  0.48 -0.05 -0.30  0.54
2 -0.19 -0.10 -0.66  0.01  0.11 -0.20  0.00  0.19  0.26  0.61
3 -0.23 -0.22 -0.17 -0.16 -0.24 -0.37  0.08 -0.79  0.04 -0.15
4  0.25 -0.13 -0.11  0.32 -0.05 -0.11 -0.49 -0.15 -0.68  0.25
5  0.29  0.02  0.10 -0.06  0.26  0.51 -0.32 -0.48  0.40  0.30
6  0.14 -0.25 -0.42  0.26 -0.23  0.59  0.47 -0.08 -0.16 -0.12
7 -0.42  0.22  0.02 -0.25 -0.66  0.35 -0.32  0.08 -0.05  0.17
8  0.54  0.07  0.08  0.29 -0.60 -0.28  0.01  0.06  0.40  0.07
9 -0.31 -0.73  0.45  0.29 -0.05  0.05 -0.01  0.10  0.14  0.20

In [88]:
df(S)

      0     1     2     3    4     5
0  5.31  0.00  0.00  0.00  0.0  0.00
1  0.00  3.82  0.00  0.00  0.0  0.00
2  0.00  0.00  2.68  0.00  0.0  0.00
3  0.00  0.00  0.00  2.11  0.0  0.00
4  0.00  0.00  0.00  0.00  1.9  0.00
5  0.00  0.00  0.00  0.00  0.0  0.91
6  0.00  0.00  0.00  0.00  0.0  0.00
7  0.00  0.00  0.00  0.00  0.0  0.00
8  0.00  0.00  0.00  0.00  0.0  0.00
9  0.00  0.00  0.00  0.00  0.0  0.00

In [89]:
df(Vh)

      0     1     2     3     4     5
0 -0.30  0.63 -0.36  0.10  0.62  0.02
1  0.20  0.33  0.84 -0.26  0.29  0.02
2 -0.06  0.35 -0.20 -0.69 -0.38 -0.46
3  0.50  0.58 -0.06  0.43 -0.46  0.14
4 -0.77  0.17  0.35  0.33 -0.38 -0.09
5 -0.19  0.09 -0.07 -0.40 -0.19  0.87

In [90]:
np.allclose(U @ S @ Vh, X)

True

In [91]:
np.allclose(U[:, :n] * s @ Vh, X)

True

### keeping top n components

In [92]:
for top_n in range(6, 1, -1):
    s_new = np.zeros(s.shape)
    s_new[:top_n] = s[:top_n]
    print(((X - U[:, :n] * s_new @ Vh)**2).sum())

1.832488638310428e-29
0.8280607837436921
4.452900052234055
8.892526589088346
16.064942730916087

### removing 1st comp

In [101]:
singular_vec_1st = U[:, 0][:, np.newaxis]
singular_vec_1st.shape

(10, 1)

In [103]:
singular_vec_1st @ singular_vec_1st.T

array([[ 0.10833411, -0.08234837,  0.06096952,  0.07716797, -0.08369458,
        -0.09428214, -0.04686913,  0.13962036, -0.1787996 ,  0.10291083],
       [-0.08234837,  0.06259574, -0.04634496, -0.05865794,  0.06361904,
         0.07166699,  0.03562679, -0.10613009,  0.13591153, -0.07822595],
       [ 0.06096952, -0.04634496,  0.03431313,  0.04342948, -0.0471026 ,
        -0.05306119, -0.02637755,  0.07857715, -0.1006269 ,  0.05791734],
       [ 0.07716797, -0.05865794,  0.04342948,  0.05496787, -0.05961687,
        -0.06715854, -0.03338556,  0.09945362, -0.12736156,  0.07330488],
       [-0.08369458,  0.06361904, -0.0471026 , -0.05961687,  0.06465907,
         0.07283859,  0.0362092 , -0.10786508,  0.13813339, -0.07950477],
       [-0.09428214,  0.07166699, -0.05306119, -0.06715854,  0.07283859,
         0.08205284,  0.04078975, -0.12151026,  0.15560758, -0.08956231],
       [-0.04686913,  0.03562679, -0.02637755, -0.03338556,  0.0362092 ,
         0.04078975,  0.02027722, -0.06040465,  0.07735497, -0.04452283],
       [ 0.13962036, -0.10613009,  0.07857715,  0.09945362, -0.10786508,
        -0.12151026, -0.06040465,  0.17994189, -0.23043586,  0.13263086],
       [-0.1787996 ,  0.13591153, -0.1006269 , -0.12736156,  0.13813339,
         0.15560758,  0.07735497, -0.23043586,  0.29509909, -0.16984877],
       [ 0.10291083, -0.07822595,  0.05791734,  0.07330488, -0.07950477,
        -0.08956231, -0.04452283,  0.13263086, -0.16984877,  0.09775904]])

In [95]:
np.dot(singular_vec_1st, singular_vec_1st.T)

array([[ 0.10833411, -0.08234837,  0.06096952,  0.07716797, -0.08369458,
        -0.09428214, -0.04686913,  0.13962036, -0.1787996 ,  0.10291083],
       [-0.08234837,  0.06259574, -0.04634496, -0.05865794,  0.06361904,
         0.07166699,  0.03562679, -0.10613009,  0.13591153, -0.07822595],
       [ 0.06096952, -0.04634496,  0.03431313,  0.04342948, -0.0471026 ,
        -0.05306119, -0.02637755,  0.07857715, -0.1006269 ,  0.05791734],
       [ 0.07716797, -0.05865794,  0.04342948,  0.05496787, -0.05961687,
        -0.06715854, -0.03338556,  0.09945362, -0.12736156,  0.07330488],
       [-0.08369458,  0.06361904, -0.0471026 , -0.05961687,  0.06465907,
         0.07283859,  0.0362092 , -0.10786508,  0.13813339, -0.07950477],
       [-0.09428214,  0.07166699, -0.05306119, -0.06715854,  0.07283859,
         0.08205284,  0.04078975, -0.12151026,  0.15560758, -0.08956231],
       [-0.04686913,  0.03562679, -0.02637755, -0.03338556,  0.0362092 ,
         0.04078975,  0.02027722, -0.06040465,  0.07735497, -0.04452283],
       [ 0.13962036, -0.10613009,  0.07857715,  0.09945362, -0.10786508,
        -0.12151026, -0.06040465,  0.17994189, -0.23043586,  0.13263086],
       [-0.1787996 ,  0.13591153, -0.1006269 , -0.12736156,  0.13813339,
         0.15560758,  0.07735497, -0.23043586,  0.29509909, -0.16984877],
       [ 0.10291083, -0.07822595,  0.05791734,  0.07330488, -0.07950477,
        -0.08956231, -0.04452283,  0.13263086, -0.16984877,  0.09775904]])