In [40]:
import pandas as pd
import scipy 
import numpy as np

In [41]:
def df(a): return pd.DataFrame(np.round(a, 2))
m, n = 5, 10
X = np.random.randn(m, n)
df(X)

      0     1     2     3     4     5     6     7     8     9
0 -0.12  0.25  0.45 -0.35 -2.23  0.36  0.09  1.34 -1.34  0.39
1  0.18  0.01  1.54  1.29  0.03  0.11  1.67  0.59  0.19  0.57
2  0.19 -0.66 -0.50  0.70  0.89  1.57  0.74 -0.16 -0.43 -0.69
3 -0.02  0.89  1.28  1.13  0.18 -0.81 -0.48 -1.19 -1.06 -2.12
4  0.15 -0.22  0.67  0.40  0.15 -0.53  1.00  1.27 -0.78 -0.03

In [42]:
from scipy.linalg import svd as svd

### `full_matrices=True`

In [43]:
U, s, Vh = svd(X, full_matrices=True)

In [44]:
X.shape, U.shape, s.shape, Vh.shape

((5, 10), (5, 5), (5,), (10, 10))

In [45]:
df(U)

      0     1     2     3     4
0 -0.60  0.36 -0.53  0.44  0.21
1 -0.20  0.58  0.52 -0.35  0.48
2  0.15  0.03  0.55  0.82  0.04
3  0.73  0.58 -0.35  0.08  0.04
4 -0.22  0.44  0.17 -0.05 -0.85

In [54]:
S = np.zeros((m, n))
min_mn = min(m, n)
S[:min_mn, :min_mn] = np.diag(s)
S.shape

(5, 10)

In [47]:
df(S)

      0     1     2     3     4    5    6    7    8    9
0  3.54  0.00  0.00  0.00  0.00  0.0  0.0  0.0  0.0  0.0
1  0.00  3.42  0.00  0.00  0.00  0.0  0.0  0.0  0.0  0.0
2  0.00  0.00  2.91  0.00  0.00  0.0  0.0  0.0  0.0  0.0
3  0.00  0.00  0.00  2.06  0.00  0.0  0.0  0.0  0.0  0.0
4  0.00  0.00  0.00  0.00  1.21  0.0  0.0  0.0  0.0  0.0

In [48]:
df(Vh)

      0     1     2     3     4     5     6     7     8     9
0  0.00  0.13  0.04  0.22  0.44 -0.14 -0.24 -0.59  0.03 -0.56
1  0.04  0.14  0.61  0.43 -0.17 -0.14  0.35  0.20 -0.39 -0.23
2  0.10 -0.29 -0.02  0.31  0.56  0.32  0.54  0.05  0.28  0.16
3  0.01 -0.17 -0.33  0.02 -0.12  0.66 -0.01  0.04 -0.51 -0.37
4 -0.05  0.21  0.25  0.23 -0.45  0.50 -0.02 -0.48  0.33  0.21
5 -0.12  0.39  0.46 -0.39  0.44  0.40 -0.24  0.24 -0.05  0.06
6  0.05  0.63 -0.31 -0.31 -0.03 -0.04  0.61 -0.15 -0.02 -0.11
7  0.67  0.31 -0.15  0.26 -0.06  0.08 -0.25  0.40  0.32 -0.19
8 -0.72  0.17 -0.20  0.28 -0.06  0.02 -0.03  0.37  0.34 -0.28
9 -0.09  0.36 -0.30  0.47  0.21 -0.05 -0.20 -0.04 -0.41  0.54

In [49]:
np.allclose(U @ S @ Vh, X)

True

In [53]:
np.allclose(U * s @ Vh, X)

ValueError: shapes (5,5) and (10,10) not aligned: 5 (dim 1) != 10 (dim 0)

### keeping top n components

In [25]:
for top_n in range(n, 1, -1):
    s_new = np.zeros(s.shape)
    s_new[:top_n] = s[:top_n]
    print(((X - U[:, :n] * s_new @ Vh)**2).sum())

ValueError: shapes (5,5) and (10,10) not aligned: 5 (dim 1) != 10 (dim 0)

### removing 1st comp

In [101]:
singular_vec_1st = U[:, 0][:, np.newaxis]
singular_vec_1st.shape

(10, 1)

In [103]:
singular_vec_1st @ singular_vec_1st.T

array([[ 0.10833411, -0.08234837,  0.06096952,  0.07716797, -0.08369458,
        -0.09428214, -0.04686913,  0.13962036, -0.1787996 ,  0.10291083],
       [-0.08234837,  0.06259574, -0.04634496, -0.05865794,  0.06361904,
         0.07166699,  0.03562679, -0.10613009,  0.13591153, -0.07822595],
       [ 0.06096952, -0.04634496,  0.03431313,  0.04342948, -0.0471026 ,
        -0.05306119, -0.02637755,  0.07857715, -0.1006269 ,  0.05791734],
       [ 0.07716797, -0.05865794,  0.04342948,  0.05496787, -0.05961687,
        -0.06715854, -0.03338556,  0.09945362, -0.12736156,  0.07330488],
       [-0.08369458,  0.06361904, -0.0471026 , -0.05961687,  0.06465907,
         0.07283859,  0.0362092 , -0.10786508,  0.13813339, -0.07950477],
       [-0.09428214,  0.07166699, -0.05306119, -0.06715854,  0.07283859,
         0.08205284,  0.04078975, -0.12151026,  0.15560758, -0.08956231],
       [-0.04686913,  0.03562679, -0.02637755, -0.03338556,  0.0362092 ,
         0.04078975,  0.02027722, -0.06040465,  0.07735497, -0.04452283],
       [ 0.13962036, -0.10613009,  0.07857715,  0.09945362, -0.10786508,
        -0.12151026, -0.06040465,  0.17994189, -0.23043586,  0.13263086],
       [-0.1787996 ,  0.13591153, -0.1006269 , -0.12736156,  0.13813339,
         0.15560758,  0.07735497, -0.23043586,  0.29509909, -0.16984877],
       [ 0.10291083, -0.07822595,  0.05791734,  0.07330488, -0.07950477,
        -0.08956231, -0.04452283,  0.13263086, -0.16984877,  0.09775904]])

In [95]:
np.dot(singular_vec_1st, singular_vec_1st.T)

array([[ 0.10833411, -0.08234837,  0.06096952,  0.07716797, -0.08369458,
        -0.09428214, -0.04686913,  0.13962036, -0.1787996 ,  0.10291083],
       [-0.08234837,  0.06259574, -0.04634496, -0.05865794,  0.06361904,
         0.07166699,  0.03562679, -0.10613009,  0.13591153, -0.07822595],
       [ 0.06096952, -0.04634496,  0.03431313,  0.04342948, -0.0471026 ,
        -0.05306119, -0.02637755,  0.07857715, -0.1006269 ,  0.05791734],
       [ 0.07716797, -0.05865794,  0.04342948,  0.05496787, -0.05961687,
        -0.06715854, -0.03338556,  0.09945362, -0.12736156,  0.07330488],
       [-0.08369458,  0.06361904, -0.0471026 , -0.05961687,  0.06465907,
         0.07283859,  0.0362092 , -0.10786508,  0.13813339, -0.07950477],
       [-0.09428214,  0.07166699, -0.05306119, -0.06715854,  0.07283859,
         0.08205284,  0.04078975, -0.12151026,  0.15560758, -0.08956231],
       [-0.04686913,  0.03562679, -0.02637755, -0.03338556,  0.0362092 ,
         0.04078975,  0.02027722, -0.06040465,  0.07735497, -0.04452283],
       [ 0.13962036, -0.10613009,  0.07857715,  0.09945362, -0.10786508,
        -0.12151026, -0.06040465,  0.17994189, -0.23043586,  0.13263086],
       [-0.1787996 ,  0.13591153, -0.1006269 , -0.12736156,  0.13813339,
         0.15560758,  0.07735497, -0.23043586,  0.29509909, -0.16984877],
       [ 0.10291083, -0.07822595,  0.05791734,  0.07330488, -0.07950477,
        -0.08956231, -0.04452283,  0.13263086, -0.16984877,  0.09775904]])